.overlay {
    background: var(--primary);
    display: grid;
    place-items: center;
    position: fixed;
    bottom: -6px;
    width: 70vh;
    height: 70vh;
    right: 3rem;
    z-index: 99;
    border-radius: 6px;
}

.message-container {
    width: 98%;
    background: var(--light-bg);
    padding: 1rem 1rem 0;
    height: 99%;
    transition: 0.5s;
    bottom: 0;
    position: absolute;
}


.subject span {
    color: var(--error);
}

.popup {
    height: 19rem !important;
}

.cancel {
    color: var(--primary);
    position: absolute;
    top: 7px;
    right: 12px;
    cursor: pointer;
    font-size: 1.5rem;
}

.report-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem
}

textarea {
    max-width: 100%;
    border: 2px solid var(--primary);
    border-radius: 5px;
    max-height: 50%;
    font-family: inherit;
    outline: none;
}