.chat {
    display: flex;
    gap: 2rem;

}
.chats-container {
    box-sizing: border-box;
    padding: 0px 6px;
    display: flex;
    flex-direction: column;
    width: 18rem;
    background: var(--light-bg);
    box-shadow: var(--shadow);
    height: 90vh;

}

.typing {
    padding: 0 0 0 24px;
    font-size: 13px;
}

.online-users {
    max-width: 20rem;
    margin: 0rem 5px;
    user-select: none;
}

.swiper {
    z-index: 0 !important;
}

.chats {
    padding: 5px 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.upper-info {
    padding: 1rem 2rem;
    height: 7rem;
}

.message-box {
    background-color: var(--light-bg);
    height: 90vh;
    width: 70%;
    position: relative;
}

.input-message-box {
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem 0rem;
    position: absolute;
    align-items: center;
    bottom: 1rem;
    width: 95%;
}

.send {
    color: var(--third);
    font-size: 1.5rem;
    cursor: pointer;
}

.message-input input {
    width: 18rem;
    height: 2rem;
    border-radius: 5px;
    border: 2px var(--third) solid;
    outline: none;
    padding-left: 10px;
    font-family: "poppins";

}

.single-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-chat .indicator {
    width: 20px;
    height: 20px;
    background: var(--error);
    display: grid;
    place-content: center;
    border-radius: 50%;
    padding: 8px;

}

.single-chat pre {
    font-size: 12px;
    font-family: inherit;
    margin: 0;
}

.messages-container {
    padding: 0 1rem;
    position: relative;
    top: 4rem;
}

.sent {
    background: var(--primary);
    margin-left: auto;

}


.received {
    background: var(--swiper-theme-color);
    margin-right: auto;
}

.messages-wrapper {
    flex-direction: column;
    padding:0 30px 0px ;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    width: 90%;
    overflow-y: scroll;
    height: 25rem;
}

.messages-wrapper > div {
    border-radius: 1rem;
    text-align: left;
    position: relative;
    padding: 8px 30px;
    color: white;
    max-width: 70%; 
    cursor: pointer;
    transition: 0.3s ease;

}

.messages-wrapper > div p {
    font-size: 12px;
    width: 100% !important;
    overflow-wrap: break-word;
    padding: 0;
    margin: 0;
}

.messages-wrapper::-webkit-scrollbar{
    display: none;
}

.sent .arrow, .received .arrow {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.sent .arrow {
    color: var(--primary);
    right: -18px;
}

.received .arrow {
    top: 50%;
    color: var(--swiper-theme-color);
    transform: rotate(180deg) translateY(50%);
    left: -18px;
}

.date-sent {
    z-index: 0;
    width: 100px;
    position: absolute;
    color: var(--text);
    font-size: 8px;
    color: var;
    overflow: hidden;
    color: text;
    left: 0px;
    transition: 0.5s ease;  
    opacity: 0;
    bottom: 0px;
}

.sent:hover .date-sent, .received:hover .date-sent{
    transform: translateY(15px);
    opacity: 1;
}

.selected-file {
    position: relative;
    font-size: 10px;
    color: var(--text);
    max-width: 10rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 15px 0;
}

.selected-file svg {
    color: red;
    position: absolute;
    top: 0px;
    font-size: 14px;
    cursor: pointer;
    top: 1px;
}

.display-file {
    display: flex;
    font-size: 13px;
    text-decoration: underline;
    text-align: justify;
    align-items: center;
    gap: 2px;
}

.display-image {
    max-width: 10rem;
    max-height: 10rem;
    margin: 5px 0;
    display: block;
}

.modal {
    z-index: 10000000000;
    top: 50%;
    width: 50%;
    margin: auto;
    position: absolute;
    background: var(--bg);
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 7rem;
    gap: 3rem;
    
}

.close-modal {
    font-size: 1.5rem;
    cursor: pointer;
    top: 0;
    right: 17px;
    top: 17px;
    z-index: 10000000;
    color: var(--primary);
    transition: 0.5s;
}

.close-modal:hover {
    transform: rotate(360deg);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open{
    z-index: 100000;
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    transform: translateY(-50%);
    display: none;
}


@media screen and (max-width: 768px) {
    .chats-container {
        width: 7rem;
    }

    .chats::-webkit-scrollbar {
        display: none;
    }

    .message-box {
        width: 100%;
    }

    .App {
        padding: 5rem 3rem 5px
    }

    .user-info .user-info{
        display: none;
    }

    .online-user span {
        display: none;
    }

    .online-users {
        display: none;
    }
}

.select-chat {
    text-align: center;
    margin: auto; 
}


