

.phone-gif {
    position: absolute;
    width: 5rem;
    opacity: 0.5;
    bottom: 5rem;
    left: 41rem;
    z-index: -1;
}

.container{
	display: flex;
    height: 100vh;
    grid-gap: 7rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
}


.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}


form{
    padding: 1rem;
	width: 360px;
}

.login-content h2{
	margin: 15px 0;
	color: var(--primary);
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	display: flex;
    position: relative;
    /* display: grid; */
    grid-template-columns: 10% 80%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.input-div svg{
	color: var(--third);
    font-size: 2rem;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	
	color: #999;
	font-size: 18px;
	transition: .3s;
}



.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div  input{
	width: 97%;
    height: 46%;
    border: none;
    outline: none;
    padding: 0.5rem 0.7rem;
    color: var(--text);
    font-family: 'poppins', sans-serif;
	background: none;
}

input:-internal-autofill-selected{

}

input:-internal-autofill-previewed {
	background: var(--third);
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.btn {
    padding: 7px 15px;
    display: block;
    width: 100%;
    border-radius: 25px;
    outline: none;
    background-size: 200%;
    font-size: 1rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    background: var(--primary);
    border: none;
}

.social-auth-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}