.dash {
    background-color: var(--light-bg);
    padding: 3rem 1rem; 
    border-radius: 1rem;   
}
.dash >.df {
    justify-content: space-evenly;
    justify-content: flex-start !important;
} 
.dash >.df {
    justify-content: space-evenly;
} 
.dash >.df .box{
    width: 15rem;
    min-height: 7rem;
    border-radius: 1rem;
    padding: 1rem;
} 

.bashboard .recharts-responsive-container {
    height: 100%;
}

.icon-cont {
    background-color: #0970fe;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
}

.dashsidebar {
    background-color: var(--light-bg);
    border-radius: 1rem;
    padding: 3rem 1rem;
    min-width: 23%;
    
}

.icon-cont svg {
    color: white;
    font-size: 2rem;
}

.bashboard {
    display: flex;
    gap: 1rem;

}

.boxesholder {
    display: flex;
    gap: 3rem;
    width: 100%;
    overflow-y: scroll;
}

.wrap span {
    color: #0970fe;
    font-size: 10px;
    font-weight: 700;
}



.df.wrap {
    justify-content: space-between;
    align-items:flex-start;
}
.dash >.df .box:first-child{
    background-color: #e4effd;
} 
.dash >.df .box .g0.df-c > span{
    color: var(--text);
    font-size: 15px;
    font-weight: 700;
} 
.dinar {
    color: black;
    font-size: 25px;
    font-weight: bolder;
}
.dash >.df .box:nth-child(2){
    background-color: #e9f5e6;
    
} 
.dash >.df .box:nth-child(3){
    background-color: #fef9e5;
    
} 
.dash >.df .box:nth-child(4){
    background-color: #fde3e3;
    
} 

.gr {
    background-color: #6bd903;
}
.yl {
    background-color: #facf12;
}
.or {
    background-color: #fe0404;
}
.gr1 {
    color: #6bd903 !important;
}
.yl1 {
    color: #facf12 !important;
}
.or1 {
    color: #fe0404 !important;
}


.chart--container {
    width: 127vh;
    font-family: inherit;
    font-weight: bold;
    height: 48vh;
}
.pie--container {
    width: 29rem;
    height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.reports-container {
    border: 2px solid var(--primary-bg);
    border-radius: 1rem;
    width: fit-content;
    padding: 0 1rem;
    font-size: 10px;
}
.reports-container .icon-cont{
    width: 2rem;
    height: 2rem;
}
.reports-container .icon-cont svg{
    font-size: 1rem;
}

h1 {
    text-transform: capitalize;
}
 