.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000000;
    background: #bdd1d1a3;
    display: grid;
    place-items: center;
}

.message-container {
    width: 60%;
    background: var(--light-bg);
    padding: 1rem 1rem 0;
    height: 78%;
    transition: 0.5s;
    border-radius: 6px;
    position: relative;
}

.subject {

}

.subject span {
    color: var(--error);
}

.popup {
    height: 19rem !important;
}

.cancel {
    color: var(--orange);
    position: absolute;
    top: 4px;
    right: 12px;
    cursor: pointer;
}