.home--page {
    display: flex;
    /* grid-template-columns: auto auto; */
    gap: 1rem;
    padding-bottom: 5rem;
}

.no-scroll {
    overflow: unset !important;
    height: auto !important;

}

/* HTML: <div class="laading"></div> */
.laading {
    width: 40px;
    height: 30px;
    --c:no-repeat linear-gradient(#000 0 0);
    background:
      var(--c) 0    100%/8px 30px,
      var(--c) 50%  100%/8px 20px,
      var(--c) 100% 100%/8px 10px;
    position: relative;
    clip-path: inset(-100% 0);
  }
  .laading:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    left: -16px;
    top: 0;
    animation: 
      l5-1 2s   linear infinite,
      l5-2 0.5s cubic-bezier(0,200,.8,200) infinite;
  }
  @keyframes l5-1 {
    0%   {left:-16px;transform:translateY(-8px)}
    100% {left:calc(100% + 8px);transform:translateY(22px)}
  }
  @keyframes l5-2 {
    100% {top:-0.1px}
  }

.addjust-img {
    padding: 0 !important;
}

.al-i-center {
    align-items: center;
    gap: 1rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loading {}