.offer {
    padding: 1rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.offer p{
    margin: 0;
}

.offer h4 {
    margin-bottom: 0;
}

.offers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.offer-description {
    color: var(--text);
    font-size: 13px;
}

strong {
    color: var(--success);
}

.hiring {
    color: var(--error) !important;
}

.skill {
    padding: 8px 17px;
    border-radius: 17px;
    font-size: 10px;
    background: #445075;
    font-weight: bold;
    color: var(--secondary);
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions > div {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.liked {
    font-weight: bolder;
    color: var(--swiper-theme-color);
}

.deadline {
    color: var(--success);
}

.expired {
    font-size: 10px;
    color: var(--error);
    font-weight: bold;
}

.expired svg {
    font-size: 1rem;

}

.chat {

}

.report {

}

.info--container {
    display: flex;
    justify-content: space-around;
}

.info--container span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: var(--secondary);
}

.info--container span svg {
    font-size: 20px !important;
    color: var(--text);
}

