.App {
    padding: 5rem 10rem 5px
}

.error {
    display: flex;
    border-radius: 7px;
    background: #ff8484;
    padding: 1rem 1rem;
    color: white;
    align-items: center;
    margin-top: 21px;
    font-weight: bold;
    letter-spacing: 3px;
}

.success {
    margin-top: 21px;
    border-radius: 7px;
    background: var(--success);
    padding: 1rem 1rem;
}