.App {
    padding: 5rem 10rem 5px
}

.error {
    display: flex;
    border-radius: 7px;
    background: #ff8484;
    padding: 1rem 1rem;
    color: white;
    align-items: center;
    font-weight: bold;
    letter-spacing: 3px;
    width: fit-content;
}

.success {
    margin-top: 21px;
    border-radius: 7px;
    background: var(--success);
    padding: 1rem 1rem;
}

.df {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.center {
    display: grid;
    place-content: center;
}

.df-c {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.exp {
    background-color: #ff8484;
    color: red;
    padding: 1rem;
    font-weight: bold;
}

.page-gap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.spacer {
    padding: 3rem 0;
}

.box--payment img{
    width: 2rem;
}

.center-text {
    text-align: center;
}

.checked{
    border: 2px solid var(--primary) !important;
}

.box--payment {
    border: 2px solid var(--bg);
    border-radius: 7px;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.box--payment input {
    display: none;
}

.box--payment h4 {
    margin: 0;
}

