@font-face {
  font-family: 'Poppins';
  src: 
       url('./fonts/Poppins-Regular.ttf') format('truetype'),
       url('./fonts/Poppins-Black.ttf') format('truetype'),
       url('./fonts/Poppins-Bold.ttf') format('truetype'),
       url('./fonts/Poppins-BoldItalic.ttf') format('truetype'),
       url('./fonts/Poppins-Light.ttf') format('truetype'),
       url('./fonts/Poppins-SemiBold.ttf') format('truetype'),
       url('./fonts/Poppins-Thin.ttf') format('truetype');
}

:root {
  --primary: #8B54FF;
  --primary-bg: #ddafff;
  --secondary-bg: #e2e2e2;
  --bg: #e3e6e8;
  --light-bg: #FFF;
  --secondary: #fbd803;
  --black: #242d49;
  --third: #5db9d8;
  --text:#717171;
  --inputColor: rgba(40, 52, 62, 0.07);
  --error: #ff113c;
  --success: #07ce6b;
  --shadow: 0px 1px 5px #a3a3a32e;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --blue: #007aff;
}

.ban {
  height: 100vh;
}

.fs {
  align-items: flex-start !important;
}

.ta-c {
  text-align: center;
}

.jc-sb {
  justify-content: space-between !important;
}

.mt {
  margin-top: 1rem;
}

.w-50 {
  width: 50% !important;
}

.primary-btn,.danger-btn, .warning-btn {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  background-color: var(--primary);
  border-radius: 3px;
  color: white;
  outline: none;
  border: none;
  letter-spacing: 1px;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  border: 1px solid var(--primary);
  width: fit-content;
}

.center {
  margin: 0 auto;
}
.danger-btn {
  color: var(--error);
  background: transparent;
  border: 1px solid var(--error);
}
.warning-btn {
  color: var(--secondary);
  font-weight: 600;
  background: transparent;
  border: 1px solid var(--secondary);
}

.w-fc {
  width: fit-content;
}


hr {
  margin: 12px 0;
  border: 1px #13191730 solid;
}

a {
  text-decoration: none;
  color: var(--text);
}

.button a {
  color: white !important;
}

body {
  margin: 0;
  font-family: "Poppins";
  background: var(--bg);
  color: #7e7e7e;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--primary-bg);

}

::-webkit-scrollbar-thumb {
  background: var(--primary);
    border-radius: 19px;
}

.error img{
  width: 10rem;
}

.status__available-circle {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: var(--primary)
}

.status__available-circle:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-animation: circle-pulse 2s infinite;
  animation: circle-pulse 2s infinite;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 var(--primary);
  box-shadow: 0 0 0 0 var(--primary)
}

.title {
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 1rem;
}

.title::before {
  content: "";
  height: 3px;
  width: 33px;
  background-color: var(--primary);
  position: absolute;
  bottom: -9px;
  z-index: 1;
}

.title::after {
  content: "";
  height: 3px;
  width: 80%;
  background-color: rgb(163 163 163 / 26%);
  position: absolute;
  bottom: -9px;
  left: 0;
  z-index: 0;
}
.title::before {
  animation: leftright 9s ease-in-out infinite;
}


@keyframes leftright {
  0% {
      left: 0px;
      bottom: -9px;
  }

  100% {
      left: 50%;
      bottom: -9px;
  }
}

@keyframes circle-pulse {
  0% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 rgba(77,170,87,0.9);
      box-shadow: 0 0 0 0 rgba(77,170,87,0.9)
  }

  50% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-box-shadow: 0 0 0 8px rgba(77,170,87,0);
      box-shadow: 0 0 0 8px rgba(77,170,87,0)
  }

  100% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 rgba(77,170,87,0);
      box-shadow: 0 0 0 0 rgba(77,170,87,0)
  }
}
.hiring__circle {
  position: relative;
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: var(--error);
    display: inline-block;
}

.hiring__circle:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-animation: circle-pulse-hiring 2s infinite;
  animation: circle-pulse-hiring 2s infinite;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 var(--error);
  box-shadow: 0 0 0 0 var(--error)
}

@keyframes circle-pulse-hiring {
  0% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 rgba(215, 46, 46, 0.9);
      box-shadow: 0 0 0 0 rgba(231, 36, 72, 0.9)
  }

  50% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-box-shadow: 0 0 0 8px rgba(207, 64, 81, 0);
      box-shadow: 0 0 0 8px rgba(170, 77, 77, 0)
  }

  100% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 rgba(22, 220, 231, 0);
      box-shadow: 0 0 0 0 rgba(8, 239, 231, 0)
  }
}



.redirect {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(300deg);
  mix-blend-mode: darken;
}
.redirect:before,
.redirect:after{ 
  content: "";
  grid-area: 1/1; 
  width: 40px;
  height: 40px;
  background: var(--third);
  animation: l7 2s infinite;
}
.redirect:after{ 
  animation-delay: -1s;
}
@keyframes l7{
  0%   {transform: translate(   0,0)}
  25%  {transform: translate(100%,0)}
  50%  {transform: translate(100%,100%)}
  75%  {transform: translate(   0,100%)}
  100% {transform: translate(   0,0)}
}

  

