@font-face {
  font-family: 'Poppins';
  src: 
       url('./fonts/Poppins-Regular.ttf') format('truetype'),
       url('./fonts/Poppins-Black.ttf') format('truetype'),
       url('./fonts/Poppins-Bold.ttf') format('truetype'),
       url('./fonts/Poppins-BoldItalic.ttf') format('truetype'),
       url('./fonts/Poppins-Light.ttf') format('truetype'),
       url('./fonts/Poppins-SemiBold.ttf') format('truetype'),
       url('./fonts/Poppins-Thin.ttf') format('truetype');
  /* Add other font formats if necessary */
}

:root {
  --orange: #f24f2c;
  --bg: #f3f3f3;
  --light-bg: #ffffff;
  --yellow: #fbd803;
  --black: #242d49;
  --blue: #5db9d8;
  --text:#727e7a;
  --inputColor: rgba(40, 52, 62, 0.07);
  --error: #B00020;
  --success: #07ce6b;
  --shadow: 0px 1px 3px #9999992e;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
}

.primary-btn {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  background-color: var(--orange);
  border-radius: 3px;
  color: white;
  outline: none;
  border: none;
  letter-spacing: 1px;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 12px;
}


hr {
  margin: 12px 0;
  border: 1px #35383730 solid;
}

body {
  margin: 0;
  font-family: "Poppins";
  background: var(--bg);
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(221 221 221);

}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
    border-radius: 19px;
}


