
.profile .user {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.profile .user .name {
    font-weight: bold;
    font-size: 20px;
}

.profile .user .name span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile .user .img--container{
    overflow: hidden;
    border-radius: 10px;
    width: 8rem;
    height: 8rem;
}

.profile .user .img--container img {
    width: 100%;
    object-fit: fill;
}

.user-details {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-between;
}

.stats {
    display: flex;
    gap: 1rem;
}
.stats .box{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    background: var(--light-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile .up {
    display: flex;
    justify-content: space-between;
}
.profile .down {
    display: flex;
    justify-content: space-between;

}

.info .status {
    border-radius: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-bottom: auto;
    gap: 5px;
    color: var(--primary);
}

.info .status img {
    width: 18px;
    border-radius: 50%;
}

.user--container {
    width: fit-content;
}

.pdf--view {
    position: relative;
}

.pdf--view >svg {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 10;
}