
.user--header {
    display: flex;
    gap: 2rem;
    align-items: center;
    background: var(--light-bg);
    padding: 1rem;
    border-radius: 7px;
}

.user--header .name {
    font-weight: bold;
    font-size: 20px;
}

.profile .user--header .name span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.badges svg{
    color: var(--primary);
}

.profile .user--header .img--container{
    overflow: hidden;
    border-radius: 10px;
    width: 8rem;
    height: 8rem;
}

.user--header .img--container img {
    width: 100%;
    object-fit: fill;
}

.user-details {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-between;
}

.stats {
    display: flex;
    gap: 1rem;
}
.stats .box{
    width: 25%;
    overflow: hidden;
    background: var(--light-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

.box h1 {

}

.box.money {
    text-align: left;
    display: block;
}

.box.money span:nth-child(2) {
    width: 100%;
    display: inline-block;
    text-align: end;
    font-weight: 700;
}

.danger {
    color: var(--error)
}

.green {
    font-size: 20px;
    color: var(--success);
}
.primary {
    font-size: 20px;
    color: var(--primary);
}
.red {
    font-size: 20px;
    color: var(--error);
}

.danger> .df, .sucess >.df {
    width: fit-content;
    justify-content: end;
}

.sucess {
    color: var(--primary);
}

.box.money:first-child div:nth-child(2){
    background: #a1ffc2;
    padding: 1rem;
    
}
.box.money:nth-child(2) div:nth-child(2){
    background: #ffc6a1;
    padding: 1rem;
}
.g0 {
    gap: 0 !important;
}
.box.money .df {
    padding: 1rem;
    width: 100%;
    height: 39%;
    font-weight: 800;
    font-size: 1rem;
}

.profile .up {
    display: flex;
    justify-content: space-between;
}
.profile .down {
    display: flex;
    justify-content: space-between;

}

.status {
    border-radius: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    gap: 7px;
    color: var(--primary);
    font-weight: bold;
    background: var(--primary-bg);
    width: fit-content;
}



.status img {
    width: 12px;
    border-radius: 50%;
}

.user--container {
}

.pdf--view {
    position: relative;
}

.pdf--view>  .df-c {
    position: absolute;
    left: -0px;
    top: 1rem;
    z-index: 10;
    width: fit-content;
}